* {
    margin: 0;
    padding: 0;
}

/*
header {
    background-image: linear-gradient(rgba(99, 99, 99, 0.5), rgba(255, 255, 255, 0.5)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
	background-color: white;
}
*/

body {
	  /* Location of the image */
  background-image: url(bg.jpg);
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
	
    font-family: monospace;
}

.row {
    max-width: 1200px;
    margin: auto
}

.main-nav li a:hover {
    border: 1px solide mediumturquoise;
}

.main {
    float: left;
    width: 100%;
    margin: 73px 5px 5px 113px;
}

h1 {
    color: #f2f2f2;
    text-transform: lowercase;
    font-size: 50px;
    text-align: left;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
}

h2 {
    color: #f2f2f2;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
    margin: 30px 5px 5px 25px ;
}

.button {
    margin: 80px 5px 5px 70px;

}

.btn {
	padding-left: 13px;
	transition: 0.3s;
	-webkit-transition: 0.2s;
}

.btn:hover {
	padding-left: 17px;
}

/* Medium Screens*/
@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .main {
    width:100%;
  }
}
