* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(99, 99, 99, 0.5), rgba(255, 255, 255, 0.5)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
    font-family: monospace;
}

.row {
    max-width: 1200px;
    margin: auto
}

.main-nav li a:hover {
    border: 1px solide mediumturquoise;
}

.main {
    position: absolute;
    width: 1200px;
    margin: 50px 5px 5px 80px;
}

h1 {
    color: #f2f2f2;
    text-transform: lowercase;
    font-size: 50px;
    text-align: left;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
}

h2 {
    color: #f2f2f2;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
    margin: 30px 5px 5px 25px ;
}

.button {
    margin: 80px 5px 5px 10px;
    transition: 0.2s;
}

.btn:hover {
	padding-left: 13px;
}
