* {
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgba(99, 99, 99, 0.5), rgba(255, 255, 255, 0.5)), url(bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

body {
    font-family: monospace;
}

.row {
    max-width: 1200px;
    margin: auto
}

.main-nav li a:hover {
    border: 1px solide mediumturquoise;
}

.main {
    position: absolute;
    width: 1200px;
    margin: 73px 5px 5px 113px;
}

h1 {
    color: #f2f2f2;
    text-transform: lowercase;
    font-size: 50px;
    text-align: left;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    margin-left: 40px;
}

h2 {
    color: #f2f2f2;
    font-size: 20px;
    text-align: left;
    font-family: sans-serif;
    font-weight: 100;
    margin: 30px 5px 5px 25px ;
}

.button {
    margin: 80px 5px 5px 70px;

}

.btn {
	padding-left: 13px;
	transition: 0.3s;
	-webkit-transition: 0.2s;
}

.btn:hover {
	padding-left: 17px;
}

/* Medium Screens*/
@media all and (min-width: 35em) {
	.blog-logo {
		float: left;
		font-size: 2em;
		margin: 0 0 1em;
	}
	.blog-logo img {
		width: auto;
	}
}
@media all and (min-width:40em) {
	h1 {
		font-size: 5.6em;
	}
	.container {
		padding-bottom: 4em;
	}
	footer[role=contentinfo] {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		margin: 0;
	}
	footer[role=contentinfo] .nav {
		float: left;
	}
	footer[role=contentinfo] .nav li {
		display: inline-block;
		margin-right: 0.8em;
	}
	footer[role=contentinfo] .nav li a {
		border: 0;
	}
	footer[role=contentinfo] .f-rga {
		float: right;
	}
	.grid ul li {
		width: 50%;
		float: left;
	}
	.grid ul li:nth-child(odd) {
		padding-right: 1em;
		clear: left;
	}
	.ani {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 4em;
		left: 0;
		width: 100%;
		height: 90%;
		margin: 0;
		z-index: 0;
	}
	.home {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 5em;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 90%;
		display: table;
		text-align: center;
		color: #fff;
		color: rgba(255,255,255,0.7);
	}
	.home > div {
		display: table-cell;
		vertical-align: middle;
	}
	.home .intro a {
		color: #fff;
		color: rgba(255,255,255,0.8);
		border-bottom: 1px solid rgba(255,255,255,0.8);
	}
	.home .intro a:hover, .home .intro a:focus {
		color: #000;
		border-bottom-color: #000;
	}
	
	
	/*Blog*/
	
	.search-form {
		float: right;
		width: 30%;
		max-width: 16em;
		padding-left: 0.8em;
		margin-top: 0.4em;
	}
	
	.posts {
		float: left;
		width: 64%;
	}
	.sidebar {
		float: right;
		width: 30%;
		max-width: 21em;
		margin: 0 0 1em;
		padding-left: 0.8em;
	}
}


/* Large Screens */
@media all and (min-width: 54em) {
	h1 {
		font-size: 6.4em;
	}
	.grid > section {
		float: left;
		width: 33.3333333%;
	}
	.grid > section:nth-of-type(3n+1) {
		clear: left;
	}
	.grid ul li {
		width: auto;
		float: none;
	}
	.grid ul li:nth-child(odd) {
		padding-right: 0;
	}
}	
